// This is a customisable button with the general design of a clickable Button component

$accent-colour: #7fc5ff;

// padding-y: vertical padding in rem
// padding-x: horizontal padding in rem
// outline-offset: outline offset in px
// click-animation: whether to animate when clicked (bool)
@mixin button($padding-y, $padding-x, $outline-offset, $click-animation, $invert-colours: false) {
    // Box design
    background-color: var(--accent-colour, $accent-colour);
    border: none;
    border-radius: 10px;

    // Text
    color: white;
    font-weight: 700;
    font-family: $body-font;

    // Size
    padding: $padding-y $padding-x;

    // Cursor
    cursor: pointer;

    // Animation
    transition: all 100ms;

    // Mouse over
    &:hover {
        outline: 3px dashed var(--accent-colour, $accent-colour);
        outline-offset: $outline-offset;
        // padding: ($padding-y * 0.75) ($padding-x * 1.25);
    }

    // Clicking: expand and brighten when clicked (if animation is enabled)
    @if $click-animation {
        &:active {
            background-color: hsl(207, 100%, 50%);
            outline-offset: $outline-offset * 3;
            padding: ($padding-y * 0.5) ($padding-x * 1.5);
    
            transition: all 0ms;
        }
    }

    // Inverting colours - solid outline, transparent fill
    @if $invert-colours {
        background-color: transparent;
        border: 4px solid var(--accent-colour, $accent-colour);
    }
    
}