// The dropdown menu to select today or tomorrow's weather

// CSS stuff here: https://www.sliderrevolution.com/resources/css-select-styles/


.dropdown {
    width: 100%;

    // Text
    font-family: $body-font;
    font-size: 1.5rem;
    text-align: center;
    color: #777 !important;

    @include button(
        $padding-y: 0.75rem, 
        $padding-x: 2.5rem,
        $outline-offset: 4px,
        $click-animation: false,
        $invert-colours: true
    );

    // option {
    //     background-color: #7fc5ff;
    //     font-family: $body-font;
    // }
}