// FONT IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import 'queries';

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$h1-font: "Oswald", $font-family;
$body-font: "Raleway", $font-family;

// Font Sizes
$h1-size: 4rem;
$h2-size: 1.5rem;
$body-size: 1rem;

html {
    font-size: 16px;
}

@media (max-width: 900px) {
    html {
        font-size: 12px;
    }    
}