// The input box where user can enter a city name, and the button to submit it


.search-bar {
    display: grid;
    place-items: center;
    gap: 1rem;
    
    width: 80%;

    // Text
    font-family: $body-font;
    font-size: 1.5rem;

    input {
        // Box design
        border: 4px solid #7fc5ff;
        border-radius: 10px;

        // Size
        width: 100%;

        color: #27202d;
    }

    button {
        @include button(
        $padding-y: 1rem, 
        $padding-x: 5rem,
        $outline-offset: 4px,
        $click-animation: true
    );
    }
}