///// IMPORTS
@import 'FONTS';
@import 'Button';
@import 'SearchBar';
@import 'Dropdown';


// Light / Dark mode -> https://codepen.io/KaioRocha/pen/MdvWmg
html {
    --bgColour: transparent;
    --fontColour: #27202d;
}
html[dark-theme='true'] {
    --bgColour: #27202d;
    --fontColour: white;
}

// Change background colour based on data-theme variable
html {
    background-color: var(--bgColour);
    color: var(--fontColour) !important;
}


// Main container for all the element in App.svelte
main {
    display: grid;
    place-items: center;

    text-align: center;

    padding: 1em;
    max-width: 90vw;
    margin: 0 auto;
}

h1 {
    font-family: $h1-font;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;

    color: #ff3e00;

    margin: 0;
}

p {
    font-family: $body-font;
    font-weight: 400;

    max-width: 90%;

    color: var(--fontColour) !important;
}


.weather-card {
    width: 555px;
}

.cloud {
    background-color: #7fc5ff;
    padding: 1rem;
    width: 90px;
}

header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}


// MEDIA QUERIES
@media (min-width: 640px) {
    main {
        max-width: none;
    }
}

@media (max-width: 900px) {
    .weather-card {
        width: 100%;
    }
    .cloud {
        align-self: center;
        margin: auto;
    }
}